<!DOCTYPE html>   
<html>   
 <head>   
      <title>File Uploading</title>   
      
      <%= csrf_meta_tags %>   
   </head>   
      
   <body>   
      <div>   
         <%= yield %>   
      </div>   
   </body>   
</html> 